<div class="row mt-3">
	<div class="col-md-6 col-xs-12 mx-auto">
		<div class="card">
			<div class="card-header">
				<h4>{{ title }}</h4>
			</div>
			<div class="card-body">
				<form (ngSubmit)="save()">
					<div class="row">
						<div class="form-group col-md-6 col-xs-12">
							<label class="control-label">Número de Documento</label>
							<input type="number" class="form-control" name="document" [(ngModel)]="client.document">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-12">
							<label class="control-label">Nombres</label>
							<input type="text" class="form-control" name="name" [(ngModel)]="client.name">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-12">
							<label class="control-label">Apellidos</label>
							<input type="text" class="form-control" name="lastname" [(ngModel)]="client.lastname">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-12">
							<label class="control-label">Correo Electrónico</label>
							<input type="email" class="form-control" name="email" [(ngModel)]="client.email">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-6 col-xs-12">
							<label class="control-label">Teléfono</label>
							<input type="text" class="form-control" name="phone" [(ngModel)]="client.phone">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-12">
							<label class="control-label">Dirección</label>
							<textarea rows="3" class="form-control" name="address"
								[(ngModel)]="client.address"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-6">
							<a [routerLink]="'/clients'" class="btn btn-sm btn-secondary float-left">Cancelar</a>
						</div>
						<div class="form-group col-6">
							<button type="submit" class="btn btn-sm btn-primary float-right">Confirmar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>