<div class="row mt-3">
    <div class="col-md-9 col-xs-12 mx-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <a [routerLink]="'create'" class="btn btn-sm btn-primary mb-4">Registrar</a>
                <div class="alert alert-dismissible alert-light" *ngIf="clients.length <= 0">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Alerta!</strong> No se encontraron clientes registrados!
                </div>
                <div *ngIf="clients.length > 0">
                    <table class="table table-sm table-bordered table-hover">
                        <thead class="font-weight-bold">
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>N° Documento</td>
                                <td>Nombres</td>
                                <td>Apellidos</td>
                                <td>Correo Electrónico</td>
                                <td class="text-center">Teléfono</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container
                                *ngFor="let client of clients | paginate: { itemsPerPage: pagination.size, currentPage: pagination.current, totalItems: pagination.total }">
                                <tr>
                                    <td data-toggle="collapse" [attr.data-target]="'#collapse-' + client.id"
                                        class="text-center text-monospace accordion-toggle collapsed"></td>
                                    <td><a [routerLink]="[client.id, 'edit']">{{ client.document }}</a></td>
                                    <td>{{ client.name }}</td>
                                    <td>{{ client.lastname }}</td>
                                    <td>{{ client.email }}</td>
                                    <td class="text-center">{{ client.phone }}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="hidden-row">
                                        <div class="accordian-body collapse" [attr.id]="'collapse-' + client.id">
                                            {{ client.address }}
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="float-right">
                        <pagination-controls (pageChange)="reload($event)" autoHide="true" maxSize="10" previousLabel=""
                            nextLabel="" class="pagination">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
