.table-sm {
    font-size: 95%;
}

.pagination /deep/ .ngx-pagination {
    margin-top: 10px;
}

.pagination /deep/ .ngx-pagination li {
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.accordion-toggle {
    cursor: pointer;
}

.accordian-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.collapsing {
    transition: none;
}

.hidden-row {
    border-style: none;
    padding: 0 10px !important;
    background-color: inherit;
    font-size: inherit;
}

[data-toggle="collapse"].collapsed::before {
    content: "+";
}

[data-toggle="collapse"]:not(.collapsed)::before {
    content: "-";
}
