<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" [routerLink]="''">Demo App</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
		aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" [routerLinkActive]="'active'">
				<a class="nav-link" [routerLink]="'clients'" >Clientes</a>
			</li>
		</ul>
	</div>
</nav>